In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('heart.csv')

In [3]:
df.head() #print top 5 rows of data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
df.shape #no of rows,no of columns

(4240, 16)

In [5]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [6]:
df.drop('education',axis=1,inplace=True) #It will drop column education columnwise(axis=1) permanently from data (inplace =True)

In [7]:
df.isnull().sum() #It gives count of null values in all the individual columns

male                 0
age                  0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [8]:
#define the binary columns
bin_cols = ["male","currentSmoker","prevalentStroke","prevalentHyp","diabetes"]
# fill missing values for binary features with most frequent value(mode)
for col in bin_cols:
    mode_val = df[col].mode()[0] # because it is in list so we explicitly mention index 0
    df[col].fillna(mode_val,inplace = True)

In [9]:
df.isnull().sum()

male                 0
age                  0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [10]:

# Fill missing values for numeric features
numeric_cols = ["cigsPerDay", "BPMeds", "totChol", "BMI", "heartRate", "glucose"]
for col in numeric_cols:
    median_val = df[col].median()
    df[col].fillna(median_val, inplace=True)

In [11]:
df.isnull().sum()

male               0
age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [12]:
df['TenYearCHD'].value_counts()

TenYearCHD
0    3596
1     644
Name: count, dtype: int64

In [13]:
#Balance the data
from sklearn.utils import resample
# Separate majority and minority classes
df_majority =  df[df['TenYearCHD'] == 0]
df_minority =  df[df['TenYearCHD'] == 1]
df_majority

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,78.0,0
4237,0,52,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [15]:
#Upsample minority class
df_minority_upsampled = resample(df_minority , replace = True , #sample with replacement 
                                 n_samples = len(df_majority), # To match majority class
                                 random_state = 42) # reproducible results
df_minority_upsampled

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
592,1,39,1,15.0,0.0,0,0,0,232.0,115.0,72.5,30.22,90.0,105.0,1
2875,1,41,1,20.0,0.0,0,0,0,264.0,126.5,82.0,23.96,75.0,78.0,1
1779,1,43,1,40.0,0.0,0,0,0,226.0,103.5,60.0,26.11,90.0,67.0,1
604,1,62,1,23.0,0.0,0,1,0,286.0,164.0,88.0,19.53,85.0,126.0,1
371,1,55,0,0.0,0.0,0,1,0,239.0,159.0,102.0,32.35,75.0,71.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,0,57,0,0.0,0.0,0,1,0,207.0,175.0,80.0,20.86,83.0,75.0,1
3570,0,62,0,0.0,0.0,0,1,0,276.0,185.0,95.0,26.21,80.0,110.0,1
3537,1,58,0,0.0,0.0,0,1,0,320.0,139.0,81.5,23.65,80.0,82.0,1
622,0,64,0,0.0,0.0,0,0,0,293.0,116.0,80.0,26.81,80.0,87.0,1
2718,1,67,1,40.0,0.0,0,1,0,216.0,148.0,70.0,32.63,90.0,103.0,1

In [16]:
#combine majority class with upsampled minority class
df_balanced = pd.concat([df_majority, df_minority_upsampled])
df_balanced

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,0,57,0,0.0,0.0,0,1,0,207.0,175.0,80.0,20.86,83.0,75.0,1
3570,0,62,0,0.0,0.0,0,1,0,276.0,185.0,95.0,26.21,80.0,110.0,1
3537,1,58,0,0.0,0.0,0,1,0,320.0,139.0,81.5,23.65,80.0,82.0,1
622,0,64,0,0.0,0.0,0,0,0,293.0,116.0,80.0,26.81,80.0,87.0,1
2718,1,67,1,40.0,0.0,0,1,0,216.0,148.0,70.0,32.63,90.0,103.0,1

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X= df_balanced.drop(columns = ['TenYearCHD'])
y= df_balanced['TenYearCHD']
# Split the data into 80 % train and 20 % test data
X_train,X_test,y_train,y_test  = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [18]:
X_train

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
1905,0,64,0,0.0,0.0,0,1,0,229.0,145.0,85.0,29.67,70.0,74.0
2075,0,37,1,20.0,0.0,0,0,0,166.0,112.0,73.5,21.64,75.0,93.0
1128,0,63,1,10.0,0.0,0,1,0,236.0,189.0,103.0,27.91,60.0,74.0
1782,0,65,0,0.0,0.0,0,1,0,245.0,171.0,89.0,23.07,82.0,93.0
241,1,65,1,15.0,0.0,0,1,0,219.0,148.0,90.0,29.35,77.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,1,63,1,20.0,0.0,0,1,0,269.0,180.0,101.0,24.42,72.0,84.0
485,1,54,1,40.0,0.0,0,0,0,230.0,145.0,90.0,25.72,75.0,85.0
4232,1,68,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0
952,1,66,1,30.0,0.0,0,0,1,234.0,114.5,62.5,28.62,75.0,216.0
1030,1,45,1,20.0,0.0,0,0,1,279.0,138.0,86.0,30.63,80.0,144.0

In [19]:
scaler = StandardScaler ()
# Fit Scalar to training data and transform both train & test data
X_train_scaled = scaler.fit_transform (X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
X_train_scaled # It is a numpy array

array([[-0.94172615,  1.4582083 , -1.02624378, ...,  0.840088  ,
        -0.50731448, -0.34072887],
       [-0.94172615, -1.66694628,  0.97442734, ..., -1.050363  ,
        -0.0898974 ,  0.25133934],
       [-0.94172615,  1.34246184,  0.97442734, ...,  0.42574258,
        -1.34214864, -0.34072887],
       ...,
       [ 1.06187982,  1.92119417, -1.02624378, ..., -0.6972277 ,
        -1.34214864, -0.18492145],
       [ 1.06187982,  1.68970124,  0.97442734, ...,  0.59289329,
        -0.0898974 ,  4.08420194],
       [ 1.06187982, -0.74097455,  0.97442734, ...,  1.0660946 ,
         0.32751968,  1.84057505]])

In [21]:
X_test_scaled

array([[-0.94172615, -0.97246749,  0.97442734, ...,  0.48930693,
        -0.0898974 ,  0.65643864],
       [ 1.06187982, -0.16224222, -1.02624378, ..., -1.00092406,
         0.32751968, -0.40305184],
       [ 1.06187982,  0.64798304,  0.97442734, ..., -0.02391638,
        -1.17518181,  0.06437043],
       ...,
       [-0.94172615, -0.85672102, -1.02624378, ..., -1.0433003 ,
        -1.34214864, -0.21608293],
       [-0.94172615,  0.64798304,  0.97442734, ..., -0.22873486,
         1.57977092, -0.24724442],
       [-0.94172615,  0.06925071, -1.02624378, ..., -0.36292627,
        -1.50911548,  1.21734536]])

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train_scaled , y_train)
y_pred = rf_model.predict(X_test_scaled)

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix , classification_report

In [24]:
accuracy_score(y_test,y_pred)

0.9722029186935371

In [25]:
confusion_matrix(y_test,y_pred)

array([[700,  35],
       [  5, 699]])

In [26]:
print(classification_report(y_test,y_pred)) #more the precision more the model perform better

              precision    recall  f1-score   support

           0       0.99      0.95      0.97       735
           1       0.95      0.99      0.97       704

    accuracy                           0.97      1439
   macro avg       0.97      0.97      0.97      1439
weighted avg       0.97      0.97      0.97      1439

In [28]:
#Accuracy = total correct prediction / total prediction
#Precision = True Positive /predicted yes(TP+FP)
#Recall = True Positive / Actual Yes(TP+FN)
#Error rate =  False Positive +False Negative /total prediction

In [34]:

import pandas as pd
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Define a list of classifiers
classifiers = [
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    LogisticRegression(),
    SVC(),
    KNeighborsClassifier(),
    DecisionTreeClassifier(),
    GaussianNB(),
]

# Create a DataFrame to store the results
results_df = pd.DataFrame(columns=['Model', 'Accuracy', 'F1-Score', 'Precision', 'Recall'])

# Train and evaluate each classifier
for clf in classifiers:
    clf_name = clf.__class__.__name__
    clf.fit(X_train_scaled, y_train)
    y_pred = clf.predict(X_test_scaled)
    
    # Calculate evaluation metrics
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred, output_dict=True)
    f1_score = report['weighted avg']['f1-score']
    precision = report['weighted avg']['precision']
    recall = report['weighted avg']['recall']
    
    # Append results to DataFrame
    results_df = pd.concat([results_df,pd.DataFrame([{'Model': clf_name, 'Accuracy': accuracy, 'F1-Score': f1_score, 
                                    'Precision': precision, 'Recall': recall}])], ignore_index=True)

results_df

                        Model  Accuracy  F1-Score  Precision    Recall
0      RandomForestClassifier  0.972898  0.972899   0.973690  0.972898
1          AdaBoostClassifier  0.671994  0.672015   0.672474  0.671994
2  GradientBoostingClassifier  0.728978  0.728702   0.731320  0.728978
3          LogisticRegression  0.658791  0.658830   0.659053  0.658791
4                         SVC  0.683113  0.683126   0.683656  0.683113
5        KNeighborsClassifier  0.787352  0.783833   0.812481  0.787352
6      DecisionTreeClassifier  0.917999  0.917638   0.928593  0.917999
7                  GaussianNB  0.583044  0.530092   0.635597  0.583044

In [35]:
results_df

                        Model  Accuracy  F1-Score  Precision    Recall
0      RandomForestClassifier  0.972898  0.972899   0.973690  0.972898
1          AdaBoostClassifier  0.671994  0.672015   0.672474  0.671994
2  GradientBoostingClassifier  0.728978  0.728702   0.731320  0.728978
3          LogisticRegression  0.658791  0.658830   0.659053  0.658791
4                         SVC  0.683113  0.683126   0.683656  0.683113
5        KNeighborsClassifier  0.787352  0.783833   0.812481  0.787352
6      DecisionTreeClassifier  0.917999  0.917638   0.928593  0.917999
7                  GaussianNB  0.583044  0.530092   0.635597  0.583044

In [41]:
print(rf_model.predict(X_test_scaled[10].reshape(1,-1))[0]) # to convert 1-D to 2-D data we reshaped
y_test.iloc[10]

0

0

In [42]:
print(rf_model.predict(X_test_scaled[200].reshape(1,-1))[0]) # to convert 1-D to 2-D data we reshaped
y_test.iloc[200]

1

1

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Instantiate the RandomForestClassifier
rf_classifier = RandomForestClassifier()

# Train the RandomForestClassifier
rf_classifier.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred_rf = rf_classifier.predict(X_test_scaled)

# Calculate accuracy
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print("Random Forest Classifier Accuracy:", accuracy_rf)

# Classification report
print("Classification Report for Random Forest Classifier:")
print(classification_report(y_test, y_pred_rf))

# Confusion matrix
print("Confusion Matrix for Random Forest Classifier:")
print(confusion_matrix(y_test, y_pred_rf))

Random Forest Classifier Accuracy: 0.9763724808895066
Classification Report for Random Forest Classifier:
              precision    recall  f1-score   support

           0       0.99      0.96      0.98       735
           1       0.96      0.99      0.98       704

    accuracy                           0.98      1439
   macro avg       0.98      0.98      0.98      1439
weighted avg       0.98      0.98      0.98      1439

Confusion Matrix for Random Forest Classifier:
[[706  29]
 [  5 699]]

In [46]:
# test 3:
print("predicted class ",rf_classifier.predict(X_test_scaled[110].reshape(1,-1))[0])
print("actual class ", y_test.iloc[110])

predicted class  1
actual class  1

In [47]:
import pickle
pickle.dump(rf_classifier,open("rf_classifier.pkl",'wb'))
pickle.dump(scaler,open("scaler.pkl",'wb'))

In [48]:
import pickle

# Load the RandomForestClassifier model
with open("rf_classifier.pkl", "rb") as file:
    rf_classifier = pickle.load(file)

# Load the scaler
with open("scaler.pkl", "rb") as file:
    scaler = pickle.load(file)

In [50]:

import numpy as np

def predict(model, scaler, male, age, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose):
    # Encode categorical variables
    male_encoded = 1 if male.lower() == "male" else 0
    currentSmoker_encoded = 1 if currentSmoker.lower() == "yes" else 0
    BPMeds_encoded = 1 if BPMeds.lower() == "yes" else 0
    prevalentStroke_encoded = 1 if prevalentStroke.lower() == "yes" else 0
    prevalentHyp_encoded = 1 if prevalentHyp.lower() == "yes" else 0
    diabetes_encoded = 1 if diabetes.lower() == "yes" else 0
    
    # Prepare features array
    features = np.array([[male_encoded, age, currentSmoker_encoded, cigsPerDay, BPMeds_encoded, prevalentStroke_encoded, prevalentHyp_encoded, diabetes_encoded, totChol, sysBP, diaBP, BMI, heartRate, glucose]])
    
    # scalling
    scaled_features = scaler.transform(features)
    
    # predict by model
    result = model.predict(scaled_features)
    
    return result[0]

In [53]:

# test 1:
male = "female"
age = 56.00
currentSmoker = "yes"
cigsPerDay = 3.00
BPMeds = "no"
prevalentStroke = "no"
prevalentHyp = "yes"
diabetes = 'no'
totChol = 285.00
sysBP = 145.00
diaBP = 100.00
BMI = 30.14
heartRate = 80.00
glucose = 86.00


result = predict(rf_classifier, scaler, male, age, currentSmoker, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate, glucose)


if result == 1:
    print("The Patient has Heart Disease")
else: 
    print("The Patient has No Heart Disease")

The Patient has No Heart Disease

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(